<h1>New Bookmark</h1>
<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Create Bookmark", class: "btn btn-primary" %>
<% end %>
<div class="button-container">
  <button type="button" class="btn btn-danger"><%= link_to "Back to My List", list_path(@list) %></button>
</div>
